global
    maxconn 4096
    daemon

defaults
    mode http
    log global
    no log
    timeout connect 3s
    timeout client 30s
    timeout server 30s
    retries 1

frontend frontend
    bind *:9999
    default_backend backend

backend backend
    balance roundrobin
    server api01 api01:9501 check inter 1000 rise 1 fall 2
    server api02 api02:9501 check inter 1000 rise 1 fall 2
