global
maxconn 16800
daemon

defaults
mode http
timeout client 5000s
timeout connect 5000s
timeout server 5000s
option http-keep-alive

frontend frontend
bind *:9999
default_backend backend

backend backend
balance roundrobin
option http-keep-alive
server api01 api01:9999
server api02 api02:9999
