global
  maxconn 10000
  daemon

defaults
  mode http
  timeout client 5000s
  timeout connect 5000s
  timeout server 5000s
  option http-keep-alive

frontend frontend
  bind *:80
  default_backend backend

backend backend
  balance roundrobin
  option http-keep-alive
    # Unix socket servers
    server api1 unix@/tmp/api1.sock check maxconn 1000
    server api2 unix@/tmp/api2.sock check maxconn 1000
