global
  maxconn 20000
  daemon

defaults
  mode http
  timeout client 5000s
  timeout connect 5000s
  timeout server 5000s
  option http-keep-alive

frontend frontend
  bind *:80
  default_backend backend

backend backend
  balance roundrobin
  option http-keep-alive
  server gateway-1 /sockets/actix.sock.1 check
  server gateway-2 /sockets/actix.sock.2 check
  server gateway-3 /sockets/actix.sock.3 check
