
services:
  api1: &api1
    hostname: api1
    image: rafaelpadovezi/rinha-2025-dotnet:1.2
    depends_on:
      redis:
        condition: service_healthy
    environment:
      ConnectionStrings__Redis: redis:6379
      PaymentProcessorDefault__BaseUrl: http://payment-processor-default:8080
      PaymentProcessorFallback__BaseUrl: http://payment-processor-fallback:8080
    networks:
      - backend
      - payment-processor
    deploy:
      resources:
        limits:
          cpus: "0.6"
          memory: "100MB"
  
  api2:
    <<: *api1
    hostname: api2

  redis:
    image: redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--save", "", "--appendonly", "no" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    networks:
      - backend
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "100MB"
  
  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
    ports:
      - "9999:9999"
    networks:
      - backend
    deploy:
      resources:
        limits:
          cpus: "0.10"
          memory: "50MB"

networks:
  backend:
    driver: bridge
  payment-processor:
    external: true