services:
  health-check:
    image: pedrohsbarbosa99/rinha-fastapi-2025:0.1.0
    command: python -m app.check
    depends_on:
      - redis
    networks:
      - backend
      - payment-processor
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "70M"

  api1:
    image: pedrohsbarbosa99/rinha-fastapi-2025:0.1.0
    command: uvicorn app.apis.main:app --host 0.0.0.0 --port 9999 --workers 1 --loop uvloop --http httptools
    networks:
      - backend
      - payment-processor
    deploy:
      resources:
        limits:
          cpus: "0.6"
          memory: "70M"

  api2:
    image: pedrohsbarbosa99/rinha-fastapi-2025:0.1.0
    command: uvicorn app.apis.main:app --host 0.0.0.0 --port 9999 --workers 1 --loop uvloop --http httptools
    networks:
      - backend
      - payment-processor
    deploy:
      resources:
        limits:
          cpus: "0.6"
          memory: "70M"

  nginx:
    image: nginx:alpine
    container_name: nginx1
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9999:9999"
    depends_on:
      - api1
      - api2
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "70M"
    networks:
      - backend

  redis:
    image: redis:7-alpine
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "70M"
    networks:
      - backend

networks:
  backend:
    driver: bridge
  payment-processor:
    external: true
