global
    log stdout format raw daemon

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  10s
    timeout server  10s

frontend http_front
    bind *:9999
    default_backend api_back

backend api_back
    balance roundrobin
    server api-1 api-1:8080 check
    server api-2 api-2:8080 check
