x-build_template: &build
  image: breno5g/rinha-2025:1.1
  networks:
    - backend
    - payment-processor

services:
  api01: &api
    <<: *build
    hostname: api01
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          cpus: "0.55"
          memory: "50MB"
    environment:
      - PORT=8080
      - REDIS_URL=redis:6379
      - DEFAULT_URL=http://payment-processor-default:8080/payments
      - FALLBACK_URL=http://payment-processor-fallback:8080/payments
      - GOGC=200

  api02:
    <<: *api
    hostname: api02

  redis:
    image: redis:7-alpine
    container_name: redis
    hostname: redis
    ports:
      - "6379:6379"
    networks:
      - backend
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: "230MB"
  
  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    hostname: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999"
    networks:
      - backend
    deploy:
      resources:
        limits:
          cpus: "0.15"
          memory: "20MB"

networks:
  backend:
    driver: bridge
  payment-processor:
    external: true