global
    log stdout format raw daemon

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  5s
    timeout server  5s

frontend http_front
    bind *:9999
    default_backend api_back

backend api_back
    balance roundrobin
    server api-1 /sockets/api-1.sock check
    server api-2 /sockets/api-2.sock check
