global
  maxconn 20000
  daemon

defaults
  mode http
  timeout client 5000s
  timeout connect 5000s
  timeout server 5000s
  option http-keep-alive

frontend frontend
  bind *:80
  default_backend backend

backend backend
  balance roundrobin
  option http-keep-alive
  server api1 api1:8080 check
  server api2 api2:8080 check
